{% extends "base.html" %}
{% set currPage="login" %}
{% block title %} MakerWeek login {% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block content %}
<div class="container-fluid" id="container">
    <div id="form" class="well well-lg">
        <h1>Login</h1>
        <hr/>
        <div class="alert alert-success" id="resetSuccess">
            <strong>We have sent you a email with your new random password</strong>
            Please log in using that password and then change it immediately.
        </div>
        <div class="alert alert-danger" id="invalidToken">
            <strong>Invalid forgot token</strong>
            Either the token does not exists or it is expired.
        </div>
        <div class="alert alert-success" id="created">
            <strong>Account created</strong>
            Now you can login into your account.
        </div>
        <div class="alert alert-danger" id="failure">
            <strong>Login failed</strong>
            Either the account does not exist or the password is incorrect.
        </div>
        <div class="alert alert-danger" id="needToLogin">
            <strong>You need to login to proceed futher</strong>
        </div>
        <form action="/login" method="post">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input placeholder="Your username" name="username" type="text" class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" name="password" placeholder="Your password" class="form-control">
            </div>
            <button type="submit" class="btn btn-block btn-primary btn-lg">Log in</button>
            <a href="/forgot" type="button" class="btn btn-block btn-lg btn-info">
                I forgot my password
            </a>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/login.js"></script>
{% endblock %}