{% set navLeft=[
("index", "Home", "/", "home"),
("map", "Global map", "/map", "globe"),
] %}
{% set navRight=[
("login", "Login", "/login?from=" + request.path, "log-in"),
("register", "Sign up", "/register", "user"),
] %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="/static/css/bootstrap.css">
    <style>
        body {
           padding-top: 50px;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MakerWeek</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% for navItem in navLeft %}
                <li class="{% if navItem[0]==currPage %}active{% endif %}">
                    <a href="{{navItem[2]}}">
                        <span class="glyphicon glyphicon-{{navItem[3]}}"></span>
                        {{navItem[1]}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user is not none %}
                <li class='dropdown'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> {{g.user.username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/myaccount">
                                <span class="glyphicon glyphicon-dashboard"></span> Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="/myaccount/clients">
                                <span class="glyphicon glyphicon-map-marker"></span> My clients
                            </a>
                        </li>
                        <li>
                            <a href="/myaccount/settings">
                                <span class="glyphicon glyphicon-cog"></span> Account settings
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/signout">
                                <span class="glyphicon glyphicon-log-out"></span> Sign out
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                {% for navItem in navRight %}
                <li class="{% if navItem[0]==currPage %}active{% endif %}">
                    <a href="{{navItem[2]}}">
                        <span class="glyphicon glyphicon-{{navItem[3]}}"></span>
                        {{navItem[1]}}
                    </a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
{% block js %}{% endblock %}
</body>
</html>