{% extends "base.html" %}
{% set currPage="client" %}
{% from "functions.html" import wsAuthInfo %}
{% set isOwner=(g.user.id == client.owner) %}
{% block title %} {{ _("MakerWeek client %(id)s", id=client.id) }} {% endblock %}
{% block css %}
{% if isOwner %}
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput-typeahead.css">
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
{% endif %}
<link rel="stylesheet" href="/static/css/client.css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row" id="row">
        <div class="col-md-6 col-xs-6" id="div-map">
            <div id="map"></div>
        </div>
        <div class="col-md-6 col-xs-6">
            <h1>{{ _("Client:") }} <span id='name'></span></h1>
            <hr/>
            <ul>
                <li>{{ _("Tags:") }}
                    <span id="tags"></span>
                </li>
                <li>{{ _("Client ID:") }} <span id="clientid"></span></li>
                <li>{{ _("Latitude:") }} <span id="latitude"></span></li>
                <li>{{ _("Longitude:") }} <span id="longitude"></span></li>
                <li>{{ _("Address:") }} <span id="address"></span></li>
            </ul>
            <br/>
            {% if g.user is not none %}
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <button class="btn btn-block btn-primary" id="subscribe-button">
                        {% if g.user.id in client.subscriberList %}
                        <span> {{ _("Unsubscribe") }}</span>
                        {% else %}
                        <span> {{ _("Subscribe") }}</span>
                        {% endif %}
                    </button>
                </div>
                <div class="col-md-6 col-xs-6">
                    {% if isOwner %}
                    <button class="btn btn-block btn-primary" id="edit-button" data-toggle="modal"
                            data-target="#edit-modal">
                        {{ _("Edit") }}
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if isOwner %}
    <div class="modal fade" id="edit-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _("Edit client") }} <span id="edit-modal-client-id"></span></h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="edit-client-name" class="col-sm-2 control-label">{{ _("Client name") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-client-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-address" class="col-sm-2 control-label">{{ _("Address") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-latitude" class="col-sm-2 control-label">{{ _("Latitude") }}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="edit-latitude">
                            </div>
                            <label for="edit-longitude" class="col-sm-2 control-label">{{ _("Longitude") }}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="edit-longitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="edit-tags" class="col-sm-2 control-label">{{ _("Tags") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-tags" data-role="tagsinput">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-temp-limit" class="col-sm-2 control-label">{{ _("Temperature limit") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-temp-limit">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="edit-humid-limit" class="col-sm-2 control-label">{{ _("Humidity limit") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-humid-limit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-co-limit" class="col-sm-2 control-label">{{ _("CO limit") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-co-limit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit-dust-limit" class="col-sm-2 control-label">{{ _("Dust limit") }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit-dust-limit">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="edit-private"><b>{{ _("This client is private")
                                        }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="edit-location-picker"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                    <button type="button" class="btn btn-primary" id="edit-modal-submit-button">{{ _("Save changes")
                        }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br/>
    <div id="chart">

    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGbO2KFj9-VAXcrxwdipXAFSE1kzR4bFg&libraries=places&language=en&region=VN"></script>
<script src="/static/js/socketio.js"></script>
<script>
        info={{ client | tojson | safe }};
        {% if g.user is not none %}
            {% if g.user.id in client.subscriberList %}
                subscribeState="unsubscribe";
            {% else %}
                subscribeState="subscribe";
            {% endif %}
        {% endif %}
        {% if isOwner %}
        var enableEdit=true;
        {% else %}
        var enableEdit=false;
        {% endif %}
</script>
<script src="/static/js/highstock.js"></script>
{% if isOwner %}
<script src="/static/js/bootstrap-tagsinput.js"></script>
<script src="/static/js/locationpicker.jquery.js"></script>
{% endif %}
<script src="/static/js/client.js"></script>
{{ wsAuthInfo() }}
{% endblock %}
