{% extends "base.html" %}
{% set currPage="map" %}
{% block title %} MakerWeek map {% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/map.css">
{% endblock %}
{% block content %}
    <div class="container-fluid" id="map-container">
        <div id="map"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZTqvLB97t4V1CcpRgokk4KEt7QAV4adg&libraries=places"></script>
    <script src="/static/js/socketio.js"></script>
    <script src="/static/js/map.js"></script>
{% endblock %}